:root {
    --color-background: #282a36;
    --color-current-line: #44475a;
    --color-foreground: #f8f8f2;
    --color-comment: #6272a4;
    --color-green: #50fa7b;
    --color-pink: #ff79c6;
    --color-purple: #bd93f9;
    --color-red: #ff5555;
    --color-yellow: #f1fa8c;
}

/* TODO body, a, ... */

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}

details {
    border-left: 4px solid var(--color-comment);
    padding-left: 4px;
}

table.table-striped tr:nth-child(even) {
    background-color: var(--color-current-line);
}

table.table-alarms > tbody > tr > td {
  padding: 20px;
}

label.nowrap {
    white-space: nowrap;
}

.error {
  color: var(--color-red);
}

.log {
  color: var(--color-comment);
}

.calculated-value {
  color: var(--color-comment);
}


ul.navbar {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: var(--color-current-line);
}

ul.navbar li {
    float: left;
}

ul.navbar li a {
    display: block;
    text-decoration: none;
    padding: 14px 16px;
    color: var(--color-foreground);
}

ul.navbar li a:hover {
    background-color: var(--color-background);
}

ul#index.navbar li.menu-index a,
ul#alarms.navbar li.menu-alarms a
{
    background-color: var(--color-green);
    color: var(--color-background);

}
